FORMAT: 1A
HOST: https://store-api.piflab.io/

# PIF Lab Store API

## Cart Colllection [/cart]

### Get Cart API [GET/cart?access_token="abc"]
It retrieve Cart information, Access Token must be provided

+ Response 200 (application/json)

    + Body

            {
                "items": [
                    {
                        "id": 1,
                        "product_id": 1,
                        "name": "ABC",
                        "image_thumbnail_url": "https://piflab-store-mytest.s3-ap-southeast-1.amazonaws.com/products/2/thumbnail.1466244676.png",
                        "price": 10000,
                        "quantity": 1
                    }
                ],
                "amounts": {
                    "subtotal": 70000,
                    "shipping": 0,
                    "total": 70000
                },
                "access_token": "hu7ljf7sg6tqmsfoj5xec8exfdqyh2zm"
            }

+ Response 401 (application/json)

    + Body

            {
                "error": "Access Token is required"
            }

### Create Cart API [PUT/cart]
It creates a cart

+ Request (application/x-www-form-urlencoded)

        product_id=1&quantity=1

+ Response 201 (application/json)

    + Body

            {
                "access_token": "hu7ljf7sg6tqmsfoj5xec8exfdqyh2zm",
                "items": [
                    {
                        "id": 11,
                        "product_id": 1,
                        "name": "XBox",
                        "image_thumbnail_url": "https://piflab-store-mytest.s3-ap-southeast-1.amazonaws.com/products/2/thumbnail.1466244676.png",
                        "price": 70000,
                        "quantity": 1
                    }
                ],
                "amounts": {
                    "subtotal": 70000,
                    "shipping": 0,
                    "total": 70000
                },
            }

### Update Cart API [PUT/cart{?access_token}]
It updates a cart

+ Parameters
    + access_token: "hu7ljf7sg6tqmsfoj5xec8exfdqyh2zm" (string) - Acess Token of Cart to be updated

+ Request (application/x-www-form-urlencoded)

        product_id=2&quantity=1

+ Response 200 (application/json)

    + Body

            {
                "items": [
                    {
                        "id": 11,
                        "product_id": 1,
                        "name": "XBox",
                        "image_thumbnail_url": "https://piflab-store-mytest.s3-ap-southeast-1.amazonaws.com/products/2/thumbnail.1466244676.png",
                        "price": 70000,
                        "quantity": 1
                    },
                   {
                        "id": 12,
                        "product_id": 2,
                        "name": "PS3",
                        "image_thumbnail_url": "https://piflab-store-mytest.s3-ap-southeast-1.amazonaws.com/products/3/thumbnail.1466244676.png",
                        "price": 50000,
                        "quantity": 1
                    }
                ],
                "amounts": {
                    "subtotal": 120000,
                    "shipping": 0,
                    "total": 120000
                },
            }

### Update Cart Item API [PUT/cart/{item}{?access_token}]
It updates quantity of item in a cart

+ Parameters
    + item: `1` (number) - ID of Item to be updated
    + access_token: "hu7ljf7sg6tqmsfoj5xec8exfdqyh2zm" (string) - Acess Token of Cart to be updated

+ Request (application/x-www-form-urlencoded)

        quantity=2

+ Response 200 (application/json)

    + Body

            {
                "items": [
                    {
                        "id": 11,
                        "product_id": 1,
                        "name": "XBox",
                        "image_thumbnail_url": "https://piflab-store-mytest.s3-ap-southeast-1.amazonaws.com/products/2/thumbnail.1466244676.png",
                        "price": 70000,
                        "quantity": 2
                    },
                    {
                        "id": 12,
                        "product_id": 2,
                        "name": "PS3",
                        "image_thumbnail_url": "https://piflab-store-mytest.s3-ap-southeast-1.amazonaws.com/products/3/thumbnail.1466244676.png",
                        "price": 50000,
                        "quantity": 1
                    }
                ],
                "amounts": {
                    "subtotal": 190000,
                    "shipping": 0,
                    "total": 120000
                },
            }

+ Response 404 (application/json)

    + Body

            {
                "error": "Not found Item Id in a Cart"
            }

+ Response 401 (application/json)

    + Body

            {
                "error": "Access Token is required"
            }

### Delete Cart Item API [DELETE/cart/{item}{?access_token}]
It deletes a item in a cart

+ Parameters
    + item: `1` (number) - ID of Item to be updated
    + access_token: "hu7ljf7sg6tqmsfoj5xec8exfdqyh2zm" (string) - Acess Token of Cart to be updated

+ Response 200 (application/json)

        {

        }

+ Response 404 (application/json)

    + Body

            {
                "error": "Not found Item Id in a Cart"
            }

+ Response 401 (application/json)

    + Body

            {
                "error": "Access Token is required"
            }

### Checkout API [POST/cart/checkout{?access_token}]
It checkout a cart

+ Parameters
    + access_token: "hu7ljf7sg6tqmsfoj5xec8exfdqyh2zm" (string) - Acess Token of Cart to be updated

+ Request (application/x-www-form-urlencoded)

        name=Tran%20Van%20A&adress=Ho%20Chi%20Minh%20City&phone=01679931234&email=tranvana@abc.com

+ Request (application/json)

    + Body

            {
                "name": "Tran Van A",
                "address": "Ho Chi Minh City",
                "phone": 01679931234,
                "email": "tranvana@abc.com",
                "note": "Some optional note"
            }

+ Response 200 (application/json)

    + Body

            {
                "id": "checkout_uuid_code",
                "status": "processing"
            }

### Get Order detail API [GET/orders/{?id}]
It return detail of Order

+ Parameters
    + id: "a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11" (string) - Id of Order

+ Request (application/json)

        {}

+ Response 200 (application/json)

    + Body

            {
                "id": "a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11",
                "items": [
                    {
                        "id": 11,
                        "product_id": 1,
                        "name": "XBox",
                        "image_thumbnail_url": "https://piflab-store-mytest.s3-ap-southeast-1.amazonaws.com/products/2/thumbnail.1466244676.png",
                        "price": 70000,
                        "quantity": 2
                    },
                    {
                        "id": 12,
                        "product_id": 2,
                        "name": "PS3",
                        "image_thumbnail_url": "https://piflab-store-mytest.s3-ap-southeast-1.amazonaws.com/products/3/thumbnail.1466244676.png",
                        "price": 50000,
                        "quantity": 1
                    }
                ],
                "amounts": {
                    "subtotal": 190000,
                    "shipping": 0,
                    "total": 120000
                },
                "customer": {
                    "name": "Tran Van A",
                    "address": "Ho Chi Minh City",
                    "phone": 01679931234,
                    "email": "tranvana@abc.com",
                    "note": "Some optional note"
                },
                "status": "processing",
                "created_at": "2016-06-18T10:11:16.144073Z",
                "updated_at": "2016-06-18T11:24:01.917424Z"
            }

## Products Colllection [/products]

### Get Products API [GET]
It lists at least 10 products

+ Response 200 (application/json)

    + Body

            {
                "data": [
                    {
                        "id": 2,
                        "name": "product",
                        "price": 12500,
                        "provider": "Microsoft",
                        "rating": 4,
                        "status": "sale",
                        "detail": "some text",
                        "image_url": "https://piflab-store-mytest.s3-ap-southeast-1.amazonaws.com/products/2/origin.14662446.png",
                        "image_thumbnail_url": "https://piflab-store-mytest.s3-ap-southeast-1.amazonaws.com/products/2/thumbnail.1466244676.png",
                        "image_detail_url": "https://piflab-store-mytest.s3-ap-southeast-1.amazonaws.com/products/2/detail.1466244676.png",
                        "created_at": "2016-06-18T10:11:16.144073Z",
                        "updated_at": "2016-06-18T11:24:01.917424Z"
                    },
                    {
                        "id": 1,
                        "name": "product",
                        "price": 22,
                        "provider": "Microsoft",
                        "rating": 4,
                        "status": "sale",
                        "detail": "some text",
                        "image_url": "https://piflab-store-mytest.s3-ap-southeast-1.amazonaws.com/products/1/origin.1466244681.png",
                        "image_thumbnail_url": "https://piflab-store-mytest.s3-ap-southeast-1.amazonaws.com/products/1/thumbnail.1466244681.png",
                        "image_detail_url": "https://piflab-store-mytest.s3-ap-southeast-1.amazonaws.com/products/1/detail.1466244681.png",
                        "created_at": "2016-06-18T10:11:21.985591Z",
                        "updated_at": "2016-06-18T11:38:21.83933Z"
                    },
                    {
                        "id": 0,
                        "name": "product",
                        "price": 22,
                        "provider": "Microsoft",
                        "rating": 4,
                        "status": "sale",
                        "detail": "some text",
                        "image_url": "https://piflab-store-mytest.s3-ap-southeast-1.amazonaws.com/products/0/origin.1466244681.png",
                        "image_thumbnail_url": "https://piflab-store-mytest.s3-ap-southeast-1.amazonaws.com/products/0/thumbnail.1466244681.png",
                        "image_detail_url": "https://piflab-store-mytest.s3-ap-southeast-1.amazonaws.com/products/0/detail.1466244681.png",
                        "created_at": "2016-06-18T10:11:21.985591Z",
                        "updated_at": "2016-06-18T11:38:21.83933Z"
                    }
                ],
                "paging": {
                    "next": null,
                    "previous": "/products/offset=0&limit=10"
                }
            }

### Get Products By Pages API [GET/products?offset={offset}&limit={limit}]
It lists products by pages

+ Response 200 (application/json)

    + Body

            {
                "data": [
                    {
                        "id": 2,
                        "name": "product",
                        "price": 12500,
                        "provider": "Microsoft",
                        "rating": 4,
                        "status": "sale",
                        "detail": "some text",
                        "image_url": "https://piflab-store-mytest.s3-ap-southeast-1.amazonaws.com/products/2/origin.14662446.png",
                        "image_thumbnail_url": "https://piflab-store-mytest.s3-ap-southeast-1.amazonaws.com/products/2/thumbnail.1466244676.png",
                        "image_detail_url": "https://piflab-store-mytest.s3-ap-southeast-1.amazonaws.com/products/2/detail.1466244676.png",
                        "created_at": "2016-06-18T10:11:16.144073Z",
                        "updated_at": "2016-06-18T11:24:01.917424Z"
                    },
                    {
                        "id": 3,
                        "name": "product",
                        "price": 22,
                        "provider": "Microsoft",
                        "rating": 4,
                        "status": "sale",
                        "detail": "some text",
                        "image_url": "https://piflab-store-mytest.s3-ap-southeast-1.amazonaws.com/products/3/origin.1466244681.png",
                        "image_thumbnail_url": "https://piflab-store-mytest.s3-ap-southeast-1.amazonaws.com/products/3/thumbnail.1466244681.png",
                        "image_detail_url": "https://piflab-store-mytest.s3-ap-southeast-1.amazonaws.com/products/3/detail.1466244681.png",
                        "created_at": "2016-06-18T10:11:21.985591Z",
                        "updated_at": "2016-06-18T11:38:21.83933Z"
                    }
                ],
                "paging": {
                    "next": "/products/offset=3&limit=2",
                    "previous": "/products/offset=0&limit=2"
                }
            }

### Create Product API [POST]
It creates a product

+ Request (application/json)

    + Body

            {
                "name": "XBox",
                "price": 70000,
                "provider": "Microsoft",
                "rating": 3.5,
                "status": "sale",
                "detail": "some detail of product"
            }

+ Request (application/x-www-form-urlencoded)

        name=XBox&price=70000&provider=Microsoft&rating=3.5&status=sale&detail=some%20detail%20of%20product

+ Request (multipart/form-data; boundary=---BOUNDARY)

        -----BOUNDARY
        Content-Disposition: form-data; name="image"; filename="image.jpg"
        Content-Type: image/jpeg
        Content-Transfer-Encoding: base64

        /9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0a
        HBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIy
        MjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wAARCAABAAEDASIA
        AhEBAxEB/8QAFQABAQAAAAAAAAAAAAAAAAAAAAf/xAAUEAEAAAAAAAAAAAAAAAAAAAAA/8QAFAEB
        AAAAAAAAAAAAAAAAAAAAAP/EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AL+AD//Z
        -----BOUNDARY

+ Response 422 (application/json)

    + Body

            {
                "error": "Image is required"
            }

+ Response 201 (application/json)

    + Body

            {
                "id": 1,
                "name": "XBox",
                "price": 70000,
                "provider": "Microsoft",
                "rating": 3,
                "status": "sale",
                "detail": "rerum itaque cumque explicabo omnis."
                "image_url": "https://piflab-store.s3-ap-southeast-1.amazonaws.com/products/1/origin.png",
                "image_thumbnail_url": "https://piflab-store.s3-ap-southeast-1.amazonaws.com/products/1/thumbnail.png",
                "image_detail_url": "https://piflab-store.s3-ap-southeast-1.amazonaws.com/products/1/detail.png",
                "created_at": "2016-01-17T07:20:40+0000",
                "updated_at": "2016-01-17T07:20:40+0000",
            }

### Update Products API [PUT/products/{id}]
It updates a product

+ Request (application/json)

        {
            "rating": 5.1,
        }

+ Request (application/x-www-form-urlencoded)

        rating=5.1

+ Request (multipart/form-data; boundary=---BOUNDARY)

        ------WebKitFormBoundaryXBSDgs8T1omqCUw9
        Content-Disposition: form-data; name="rating"

        5.1
        ------WebKitFormBoundaryXBSDgs8T1omqCUw9--

+ Response 422 (application/json)

    + Body

            {
                "error": "Rating must be less than or equal to 5"
            }

+ Response 200 (application/json)

    + Body

            {
                "id": 1,
                "name": "XBox",
                "price": 70000,
                "provider": "Microsoft",
                "rating": 3.5,
                "status": "sale",
                "detail": "rerum itaque cumque explicabo omnis."
                "image_url": "https://piflab-store.s3-ap-southeast-1.amazonaws.com/products/1/origin.png",
                "image_thumbnail_url": "https://piflab-store.s3-ap-southeast-1.amazonaws.com/products/1/thumbnail.png",
                "image_detail_url": "https://piflab-store.s3-ap-southeast-1.amazonaws.com/products/1/detail.png",
                "created_at": "2016-01-17T07:20:40+0000",
                "updated_at": "2016-01-17T07:20:40+0000",
            }

### Delete Products API [DELETE/products/{id}]
It deletes a product

+ Response 200 (application/json)

    + Body

            {
                "id": 1,
                "name": "XBox",
                "price": 70000,
                "provider": "Microsoft",
                "rating": 3.5,
                "status": "sale",
                "detail": "rerum itaque cumque explicabo omnis."
                "image_url": "https://piflab-store.s3-ap-southeast-1.amazonaws.com/products/1/origin.png",
                "image_thumbnail_url": "https://piflab-store.s3-ap-southeast-1.amazonaws.com/products/1/thumbnail.png",
                "image_detail_url": "https://piflab-store.s3-ap-southeast-1.amazonaws.com/products/1/detail.png",
                "created_at": "2016-01-17T07:20:40+0000",
                "updated_at": "2016-01-17T07:20:40+0000",
            }

### Get Product details API [GET/products/{id}]
It returns details of a product

+ Parameters
    + id: 1 (integer) - Id of a product to get details from

+ Response 200 (application/json)

    + Body

            {
                "id": 1,
                "name": "XBox",
                "price": 70000,
                "provider": "Microsoft",
                "rating": 3.5,
                "status": "sale",
                "detail": "rerum itaque cumque explicabo omnis."
                "image_url": "https://piflab-store.s3-ap-southeast-1.amazonaws.com/products/1/origin.png",
                "image_thumbnail_url": "https://piflab-store.s3-ap-southeast-1.amazonaws.com/products/1/thumbnail.png",
                "image_detail_url": "https://piflab-store.s3-ap-southeast-1.amazonaws.com/products/1/detail.png",
                "created_at": "2016-01-17T07:20:40+0000",
                "updated_at": "2016-01-17T07:20:40+0000",
            }

+ Response 404 (application/json)

    + Body

            {
                "error": "Record not found"
            }